---
layout: page
title: Che1's Blog
permalink: /HTMLCSS
---
<!-- Slider Start -->
<section id="subpage-header" class="htmlcss">
  <div class="container cat-page">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>HTML/CSS</h1>
          <p>Structuring and Decorating...</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% for post in site.posts %}
  {% if post.category == "HTML&CSS" %}
    <div class="post-area">
      <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
      <p class="post-date">{{ post.date | date_to_long_string }} :: {{ post.category }}</p>
      <p>
        {{ post.content | strip_html | truncatewords: 50 }}
      </p>
    </div>
  {% endif %}
{% endfor %}
