##### Orders

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>OrderID</th>
            <th>CustomerID</th>
            <th>EmployeeID</th>
            <th>OrderDate</th>
            <th>ShipperID</th>
        </tr>
        <tr>
            <td>10308</td>
            <td>2</td>
            <td>7</td>
            <td>1996-09-18</td>
            <td>3</td>
        </tr>
        <tr>
            <td>10365</td>
            <td>3</td>
            <td>3</td>
            <td>1996-11-27</td>
            <td>2</td>
        </tr>
        <tr>
            <td>10355</td>
            <td>4</td>
            <td>6</td>
            <td>1996-11-15</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10383</td>
            <td>4</td>
            <td>8</td>
            <td>1996-12-16</td>
            <td>3</td>
        </tr>
        <tr>
            <td>10278</td>
            <td>5</td>
            <td>8</td>
            <td>1996-08-12</td>
            <td>2</td>
        </tr>
        <tr>
            <td>10280</td>
            <td>5</td>
            <td>2</td>
            <td>1996-08-14</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10384</td>
            <td>5</td>
            <td>3</td>
            <td>1996-12-16</td>
            <td>3</td>
        </tr>
    </tbody>
</table>