##### Customers

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>ContactName</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Obere Str. 57</td>
            <td>Berlin</td>
            <td>12209</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ana Trujillo Emparedados y helados</td>
            <td>Ana Trujillo</td>
            <td>Avda. de la Constitución 2222</td>
            <td>México D.F.</td>
            <td>05021</td>
            <td>Mexico</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Antonio Moreno Taquería</td>
            <td>Antonio Moreno</td>
            <td>Mataderos 2312</td>
            <td>México D.F.</td>
            <td>05023</td>
            <td>Mexico</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Around the Horn</td>
            <td>Thomas Hardy</td>
            <td>120 Hanover Sq.</td>
            <td>London</td>
            <td>WA1 1DP</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglun</td>
            <td>Berguvsvägen 8</td>
            <td>Luleå</td>
            <td>S-958 22</td>
            <td>Sweden</td>
        </tr>
    </tbody>
</table>