##### Products

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>SupplierID</th>
            <th>CategoryID</th>
            <th>Unit</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Chais</td>
            <td>1</td>
            <td>1</td>
            <td>10 boxes x 20 bags</td>
            <td>18</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Chang</td>
            <td>1</td>
            <td>1</td>
            <td>24 - 12 oz bottles</td>
            <td>19</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Aniseed Syrup</td>
            <td>1</td>
            <td>2</td>
            <td>12 - 550 ml bottles</td>
            <td>10</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Chef Anton's Cajun Seasoning</td>
            <td>2</td>
            <td>2</td>
            <td>48 - 6 oz jars</td>
            <td>22</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Chef Anton's Gumbo Mix</td>
            <td>2</td>
            <td>2</td>
            <td>36 boxes</td>
            <td>21.35</td>
        </tr>
    </tbody>
</table>