##### OrderDetails

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th>OrderDetailID</th>
            <th>OrderID</th>
            <th>ProductID</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td>1</td>
            <td>10248</td>
            <td>11</td>
            <td>12</td>
        </tr>
        <tr>
            <td>2</td>
            <td>10248</td>
            <td>42</td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>
            <td>10248</td>
            <td>72</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>10249</td>
            <td>14</td>
            <td>9</td>
        </tr>
        <tr>
            <td>5</td>
            <td>10249</td>
            <td>51</td>
            <td>40</td>
        </tr>
    </tbody>
</table>