---
layout: page
---

<div class="post">
  <!-- category start --> 
  <div class="category">
    <ul class="category-list">
      <a href="/Django"><li>Django</li></a>
      <a href="/HTML&CSS"><li>HTML/CSS</li></a>
      <a href="/Python"><li>Python</li></a>
      <a href="/Algorithm"><li>Algorithm</li></a>
      <a href="/ETC"><li>ETC</li></a>
    </ul>
  </div>
  
  <!-- category close -->




  <!-- Wrapper Start -->
  <section id="intro" style="border-left: 0px dotted #ddd;">
    <div class="container blog-page">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>


<div class="navigation-button">
  <div class="previous">< Previous Post</div>
  <div class="next">Next Post ></div>
</div>

<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/{{ page.category }}.html">Back to {{ page.category }}</a>
  |
  <a href="{{ site.baseurl }}/index.html">Back to Home</a>
</p>
